.wrapper #gambar2 {
    height: 15rem;
    width: 12rem;
}
@media (min-width: 787px) and (max-width: 1280px) {
    .wrapper #gambar2 {
        height: 12rem;
        width: 9rem;
    }
}

.wrapper img:hover {
    z-index: 99;
    box-shadow: 3px 2px 7px rgb(49, 44, 44);
}
.col-md-4 .card{
    color: white;
    background-color: red;
    font-family: 'PT Sans', sans-serif;
    height: 28rem;
    box-shadow: 5px 5px 10px grey;
}
.col-md-4 .card:hover{
    box-shadow: 5px 5px 10px rgb(27, 26, 26);
    background-color: red;
}
.col-md-4 .card .card-body .card-title{
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}
.col-md-4 .card .card-body .card-text{
    color: white;
    font-size: 20px;
}

@media (max-width: 786px) { 
    .wrapper #gambar2 {
       height: 12rem;
       border-radius: 10px;
    }
    .col-md-4 {
        margin-top: 20px;
    }   
}

